<div id="bx-slider-{{ machine_name }}-block" class="bx-slide-{{ machine_name }} bx-slide-items" {{ attributes}} >
    <div class="bxslider">
        {% if items|length > 0  %}
            {% for item in items %}
            <div class="slide"><img src="{{ item['url'] }}"></div>
            {% endfor %}
        {% endif %}
    </div>
</div>